<%- include ('partials/header.ejs') %>
<body>
    <%- include ('partials/navbar.ejs')%>
    
    <div class="container">
       <hr>
       <h1><%= pergunta.titulo %></h1>
        <strong><p><%= pergunta.descricao %></p></strong>
        <hr>
        <form method="post" action="/responder">
            <h3>Responda</h3>
            <div class="form-floating">
                <textarea placeholder="Digite sua resposta" class="form-control"  style="height: 100px" name="corpo"></textarea>
                <label for="">Digite sua resposta</label>
            </div>
            <hr>
            <input type="hidden" name="pergunta" value="<%=pergunta.id%>">
            <button type="submit" class="btn btn-dark">Responder</button>
        </form>
        <hr>
        <h3>Respostas</h3>
        <hr>
        <% respostas.forEach(resposta => {%>
            <div class="card mb-3">
                <div class="card-body">
                    <p><%= resposta.corpo %></p>
                </div>
            </div>
        <%})%>
    </div>

</body>
<%-include('partials/footer.ejs')%>
